<header>
  <div class="bg-slate-900">
    <div class="mx-auto max-w-screen-xl">
      <div class="flex items-center justify-between h-12 text-white text-lg font-medium">
        <h3 class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd"
              d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
              clip-rule="evenodd" />
          </svg>
          <span>+92 (303) 025 0713</span>
        </h3>
        <h3 class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd"
              d="M9.315 7.584C12.195 3.883 16.695 1.5 21.75 1.5a.75.75 0 01.75.75c0 5.056-2.383 9.555-6.084 12.436A6.75 6.75 0 019.75 22.5a.75.75 0 01-.75-.75v-4.131A15.838 15.838 0 016.382 15H2.25a.75.75 0 01-.75-.75 6.75 6.75 0 017.815-6.666zM15 6.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z"
              clip-rule="evenodd" />
            <path
              d="M5.26 17.242a.75.75 0 10-.897-1.203 5.243 5.243 0 00-2.05 5.022.75.75 0 00.625.627 5.243 5.243 0 005.022-2.051.75.75 0 10-1.202-.897 3.744 3.744 0 01-3.008 1.51c0-1.23.592-2.323 1.51-3.008z" />
          </svg>
          <span>New arrivals every week</span>
        </h3>
        <h3 class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
            <path
              d="M10.5 1.875a1.125 1.125 0 012.25 0v8.219c.517.162 1.02.382 1.5.659V3.375a1.125 1.125 0 012.25 0v10.937a4.505 4.505 0 00-3.25 2.373 8.963 8.963 0 014-.935A.75.75 0 0018 15v-2.266a3.368 3.368 0 01.988-2.37 1.125 1.125 0 011.591 1.59 1.118 1.118 0 00-.329.79v3.006h-.005a6 6 0 01-1.752 4.007l-1.736 1.736a6 6 0 01-4.242 1.757H10.5a7.5 7.5 0 01-7.5-7.5V6.375a1.125 1.125 0 012.25 0v5.519c.46-.452.965-.832 1.5-1.141V3.375a1.125 1.125 0 012.25 0v6.526c.495-.1.997-.151 1.5-.151V1.875z" />
          </svg>
          <span>100% handmade rugs</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="mx-auto max-w-screen-xl">
      <div class="flex items-center justify-between h-16">
        <div>
          <h1 class="font-bold text-xl" style="font-family: 'Syncopate';">Pahk Rugs</h1>
        </div>
        <nav class="uppercase text-sm tracking-wide flex gap-6">
          <ng-container *ngFor="let link of links">
            <a href="#">{{ link.name }}</a>
          </ng-container>
        </nav>
        <div>
          <div class="flex items-center gap-4 text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <section>
    <div class="relative">
      <img class="w-full h-[48rem] object-cover object-bottom"
        src="https://images.unsplash.com/photo-1606121156579-da13cfab2731?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"
        alt="" loading="lazy">
      <div class="absolute top-0 w-full h-full bg-black bg-opacity-50">
        <div class="w-full h-full max-w-2xl mx-auto flex items-center justify-center">
          <div class="text-white text-center">
            <h3 class="text-6xl font-bold">New arrivals are here</h3>
            <p class="mt-4 text-2xl">Check out the latest options from our summer small-batch release while they're
              still
              in stock</p>
            <button class="mt-6 px-4 py-3 bg-white text-gray-900">View New Arrivals</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="max-w-screen-xl mx-auto">
      <div class="py-8">
        <div class="text-center">
          <h3 class="font-semibold text-4xl">More than 1,000 rugs in-stock</h3>
          <div class="mt-6 w-fit mx-auto flex items-center gap-6">
            <button class="px-4 py-3 text-gray-500">All Rugs</button>
            <button class="px-4 py-3 bg-slate-900 text-white">New Arrivals</button>
            <button class="px-4 py-3 text-gray-500">Featured Rugs</button>
          </div>
        </div>
        <div class="mt-12">
          <div class="grid grid-cols-4 gap-8">
            <div>
              <img class="w-full h-96 object-cover object-center"
                src="https://images.unsplash.com/photo-1645620359029-7715a3c1fc35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aGFuZG1hZGUlMjBydWdzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <p class="mt-2 mx-2 text-lg font-medium">Bazaar</p>
            </div>
            <div>
              <img class="w-full h-96 object-cover object-center"
                src="https://images.unsplash.com/photo-1548368486-27fe2be77b23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGhhbmRtYWRlJTIwcnVnc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <p class="mt-2 mx-2 text-lg font-medium">Plafonnier</p>
            </div>
            <div>
              <img class="w-full h-96 object-cover object-center"
                src="https://images.unsplash.com/photo-1632224238847-33625482f0c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGhhbmRtYWRlJTIwcnVnc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <p class="mt-2 mx-2 text-lg font-medium">Türkmenistan</p>
            </div>
            <div>
              <img class="w-full h-96 object-cover object-center"
                src="https://images.unsplash.com/photo-1588421874990-1fe162747f9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aGFuZG1hZGUlMjBydWdzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <p class="mt-2 mx-2 text-lg font-medium">Avhaz</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="max-w-screen-xl mx-auto">
      <div class="py-8">
        <div class="text-gray-500 text-right font-medium">
          <a href="#" class="inline-flex items-center gap-2 hover:text-gray-900">
            <span>View all</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg>
          </a>
        </div>
        <div class="mt-4 grid grid-cols-2 gap-8">
          <div class="relative h-[40rem] overflow-hidden">
            <img class="w-full object-cover object-center"
              src="https://images.unsplash.com/photo-1527529422472-65e6c7fd9f6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aGFuZG1hZGUlMjBydWdzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="" loading="lazy">
            <div class="absolute inset-0 bg-black bg-opacity-50">
              <div class="p-8 text-white">
                <h3 class="font-semibold text-4xl">Open & Refreshing</h3>
                <p class="mt-8 text-2xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate fuga aut
                  explicabo esse, iste molestiae temporibus corporis!</p>
              </div>
            </div>
          </div>
          <div class="grid grid-rows-2 gap-8 h-[40rem] overflow-hidden">
            <div class="relative overflow-hidden">
              <img class="w-full object-cover object-center"
                src="https://images.unsplash.com/photo-1528052332164-5d1c642a77f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8aGFuZG1hZGUlMjBydWdzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <div class="absolute inset-0 bg-black bg-opacity-50">
                <div class="p-8 text-white">
                  <h3 class="font-semibold text-4xl">Marrakesh</h3>
                  <p class="mt-8 text-2xl">Cupiditate fuga aut explicabo esse, iste molestiae temporibus corporis!</p>
                </div>
              </div>
            </div>
            <div class="relative overflow-hidden">
              <img class="w-full object-cover object-center"
                src="https://images.unsplash.com/photo-1646733704166-58c963521222?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGhhbmRtYWRlJTIwcnVnc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <div class="absolute inset-0 bg-black bg-opacity-50">
                <div class="p-8 text-white">
                  <h3 class="font-semibold text-4xl">Chandelier Warmth</h3>
                  <p class="mt-8 text-2xl">Molestiae adipisci, deserunt, nobis a dolore natus ex aperiam in corporis
                    quis nisi!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="max-w-screen-xl mx-auto">
      <div class="py-8">
        <div class="text-center">
          <h3 class="font-semibold text-4xl underline underline-offset-[14px] decoration-slate-900">Rugs by Style</h3>
          <p class="mt-4 text-gray-500 text-xl">We've got what you're looking for &mdash; from monochrome</p>
        </div>
        <div class="mt-12">
          <div class="text-gray-500 text-right font-medium">
            <a href="#" class="inline-flex items-center gap-2 hover:text-gray-900">
              <span>View all</span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
              </svg>
            </a>
          </div>
          <div class="mt-4 grid grid-cols-4 gap-8">
            <div>
              <img class="w-full h-72 object-cover object-center"
                src="https://images.unsplash.com/photo-1603143555590-61dc716378e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fGhhbmRtYWRlJTIwcnVnc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <div class="mt-4 text-center">
                <p class="px-2 text-lg font-medium">Contemporary</p>
                <p class="px-2 text-sm text-gray-500">Minimal & Sophisticated</p>
              </div>
            </div>
            <div>
              <img class="w-full h-72 object-cover object-center"
                src="https://images.unsplash.com/photo-1606885118474-c8baf907e998?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHJ1Z3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <div class="mt-4 text-center">
                <p class="px-2 text-lg font-medium">Shag Rugs</p>
                <p class="px-2 text-sm text-gray-500">Soft, cozy & welcoming</p>
              </div>
            </div>
            <div>
              <img class="w-full h-72 object-cover object-center"
                src="https://images.unsplash.com/photo-1595595183083-d40937b04cf3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHJ1Z3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <div class="mt-4 text-center">
                <p class="px-2 text-lg font-medium">Jute Rugs</p>
                <p class="px-2 text-sm text-gray-500">For a natural look</p>
              </div>
            </div>
            <div>
              <img class="w-full h-72 object-cover object-center"
                src="https://images.unsplash.com/photo-1594040226829-7f251ab46d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cnVnc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <div class="mt-4 text-center">
                <p class="px-2 text-lg font-medium">Transitional Rugs</p>
                <p class="px-2 text-sm text-gray-500">Classic patterns, modern materials</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="max-w-screen-xl mx-auto">
      <div class="py-8">
        <div class="text-center">
          <h3 class="font-semibold text-4xl underline underline-offset-[14px] decoration-slate-900">Rugs by Size</h3>
          <p class="mt-4 text-gray-500 text-xl">The right size rug gives your room the perfect feel.</p>
        </div>
        <div class="mt-12">
          <div class="text-gray-500 text-right font-medium">
            <a href="#" class="inline-flex items-center gap-2 hover:text-gray-900">
              <span>View all</span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
              </svg>
            </a>
          </div>
          <div class="mt-4 grid grid-cols-6 gap-6">
            <div>
              <img class="w-full h-64 object-cover object-center"
                src="https://images.unsplash.com/photo-1560807454-c23ba0bfa2bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fHJ1Z3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <div class="mt-4 text-center">
                <p class="px-2 text-lg font-medium">All Sizes</p>
                <p class="px-2 text-sm text-gray-500">from Small to Custom</p>
              </div>
            </div>
            <div>
              <img class="w-full h-64 object-cover object-center"
                src="https://images.unsplash.com/photo-1579869393726-a63cd15c093a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIzfHxydWdzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <div class="mt-4 text-center">
                <p class="px-2 text-lg font-medium">Small Rugs</p>
                <p class="px-2 text-sm text-gray-500">from 1 &times; 2 (m)</p>
              </div>
            </div>
            <div>
              <img class="w-full h-64 object-cover object-center"
                src="https://images.unsplash.com/photo-1560448204-603b3fc33ddc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHJ1Z3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <div class="mt-4 text-center">
                <p class="px-2 text-lg font-medium">Regular-sized Rugs</p>
                <p class="px-2 text-sm text-gray-500">from 2 &times; 4 (m)</p>
              </div>
            </div>
            <div>
              <img class="w-full h-64 object-cover object-center"
                src="https://images.unsplash.com/photo-1580229080435-1c7e2ce835c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHJ1Z3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <div class="mt-4 text-center">
                <p class="px-2 text-lg font-medium">Medium-sized Rugs</p>
                <p class="px-2 text-sm text-gray-500">from 4 &times; 7 (m)</p>
              </div>
            </div>
            <div>
              <img class="w-full h-64 object-cover object-center"
                src="https://images.unsplash.com/photo-1573010309833-9992315801eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fHJ1Z3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <div class="mt-4 text-center">
                <p class="px-2 text-lg font-medium">Oversized Rugs</p>
                <p class="px-2 text-sm text-gray-500">from 5 &times; 9 (m)</p>
              </div>
            </div>
            <div>
              <img class="w-full h-64 object-cover object-center"
                src="https://images.unsplash.com/photo-1589988277465-86204243e7cc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzh8fHJ1Z3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <div class="mt-4 text-center">
                <p class="px-2 text-lg font-medium">Custom Sizes</p>
                <p class="px-2 text-sm text-gray-500">Whatever you like</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="max-w-screen-xl mx-auto">
      <div class="py-8">
        <div class="text-center">
          <h3 class="font-semibold text-4xl underline underline-offset-[14px] decoration-slate-900">Rugs by Colour</h3>
          <p class="mt-4 text-gray-500 text-xl">We've got what you're looking for &mdash; from monochrome to ornat,
            vintage to modern.</p>
          <div class="mt-6 w-fit mx-auto flex items-center gap-6">
            <button class="px-4 py-3 text-gray-500">Gray</button>
            <button class="px-4 py-3 text-gray-500">Brown</button>
            <button class="px-4 py-3 bg-slate-900 text-white">Golden</button>
            <button class="px-4 py-3 text-gray-500">Orange</button>
            <button class="px-4 py-3 text-gray-500">Red</button>
          </div>
        </div>
        <div class="mt-12">
          <div class="text-gray-500 text-right font-medium">
            <a href="#" class="inline-flex items-center gap-2 hover:text-gray-900">
              <span>View all</span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
              </svg>
            </a>
          </div>
          <div class="mt-4 grid grid-cols-4 gap-8">
            <div>
              <img class="w-full h-96 object-cover object-center"
                src="https://images.unsplash.com/photo-1600166897954-2bc7d14927f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Z29sZCUyMHJ1Z3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <p class="mt-2 mx-2 text-lg font-medium">Bazaar</p>
            </div>
            <div>
              <img class="w-full h-96 object-cover object-center"
                src="https://images.unsplash.com/photo-1578004952492-69c54a10bc1f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Z29sZCUyMHJ1Z3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <p class="mt-2 mx-2 text-lg font-medium">Plafonnier</p>
            </div>
            <div>
              <img class="w-full h-96 object-cover object-center"
                src="https://images.unsplash.com/photo-1616940844649-535215ae4eb1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHJ1Z3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <p class="mt-2 mx-2 text-lg font-medium">Türkmenistan</p>
            </div>
            <div>
              <img class="w-full h-96 object-cover object-center"
                src="https://images.unsplash.com/photo-1580122253236-94978a46f5ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHJ1Z3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <p class="mt-2 mx-2 text-lg font-medium">Avhaz</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="max-w-screen-xl mx-auto">
      <div class="py-8">
        <div class="text-center">
          <h3 class="font-semibold text-4xl underline underline-offset-[14px] decoration-slate-900">What people are
            saying</h3>
        </div>
        <div class="mt-12">
          <div class="mt-4 grid grid-cols-3 gap-8">
            <div class="text-center">
              <img class="w-20 h-20 mx-auto object-cover object-center rounded-full"
                src="https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <p class="mt-2 mx-2 text-lg font-medium">La Vague</p>
              <p class="text-sm text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi iure
                recusandae dolore sed non ab nihil
                esse corrupti. Laborum vel soluta animi! Doloremque esse dolores veniam laborum quod repudiandae dicta?
              </p>
            </div>
            <div class="text-center">
              <img class="w-20 h-20 mx-auto object-cover object-center rounded-full"
                src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <p class="mt-2 mx-2 text-lg font-medium">Mando</p>
              <p class="text-sm text-gray-500">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Egestas purus viverra accumsan in nisl nisi scelerisque. Turpis egestas integer
                eget aliquet nibh. A diam sollicitudin tempor id eu. Nibh sit amet commodo nulla.
              </p>
            </div>
            <div class="text-center">
              <img class="w-20 h-20 mx-auto object-cover object-center rounded-full"
                src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydHJhaXR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="" loading="lazy">
              <p class="mt-2 mx-2 text-lg font-medium">Valerie</p>
              <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Et netus et malesuada fames ac turpis egestas sed.
                Enim ut sem viverra aliquet eget sit amet. Eleifend quam adipiscing vitae proin sagittis nisl.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="bg-slate-900">
  <div class="py-12">
    <div class="max-w-screen-xl mx-auto">
      <div class="grid grid-cols-4 gap-8">
        <div>
          <h3 class="text-white text-lg tracking-wider font-medium uppercase">Company</h3>
          <ul class="mt-2 space-y-2 text-gray-500 text-sm">
            <li><a href="#" class="hover:text-white">About Us</a></li>
            <li><a href="#" class="hover:text-white">Philanthropy</a></li>
            <li><a href="#" class="hover:text-white">Blog</a></li>
            <li><a href="#" class="hover:text-white">Reviews</a></li>
            <li><a href="#" class="hover:text-white">Careers</a></li>
            <li><a href="#" class="hover:text-white">Terms of Service</a></li>
            <li><a href="#" class="hover:text-white">Privacy Policy</a></li>
            <li><a href="#" class="hover:text-white">Press</a></li>
            <li><a href="#" class="hover:text-white">Affiliate</a></li>
          </ul>
        </div>
        <div>
          <h3 class="text-white text-lg tracking-wider font-medium uppercase">Catalogue</h3>
          <ul class="mt-2 space-y-2 text-gray-500 text-sm">
            <li><a href="#" class="hover:text-white">All Rugs</a></li>
            <li><a href="#" class="hover:text-white">New Arrivals</a></li>
            <li><a href="#" class="hover:text-white">Rugs by Size</a></li>
            <li><a href="#" class="hover:text-white">Rugs by Style</a></li>
            <li><a href="#" class="hover:text-white">Rugs by Colour</a></li>
          </ul>
        </div>
        <div>
          <h3 class="text-white text-lg tracking-wider font-medium uppercase">Support</h3>
          <ul class="mt-2 space-y-2 text-gray-500 text-sm">
            <li><a href="#" class="hover:text-white">FAQs</a></li>
            <li><a href="#" class="hover:text-white">Contact Us</a></li>
            <li><a href="#" class="hover:text-white">Customer Account</a></li>
            <li><a href="#" class="hover:text-white">Guide</a></li>
            <li><a href="#" class="hover:text-white">Product Safety</a></li>
            <li><a href="#" class="hover:text-white">Accessibiltiy</a></li>
            <li><a href="#" class="hover:text-white">How it's made</a></li>
          </ul>
        </div>
        <div>
          <h3 class="text-white font-medium text-lg">Subscribe to Newsletter</h3>
          <form class="mt-4 h-12 border flex items-center">
            <input type="email" class="h-full px-2 w-full" placeholder="Email address">
            <button class="flex-shrink-0 text-white px-4">Subscribe</button>
          </form>
          <p class="mt-4 text-sm text-gray-500">By clicking Subscribe, you agree to Pahk Rug's Privacy Policy and Terms
            of Service, and agree to receive
            Pahk Rug offers promotions and other commercial messages to your inbox. You may unsubscribe at any time.</p>
        </div>
      </div>
    </div>
    <div class="mt-8 text-center text-gray-500">
      <p>Pahk Rugs &copy; 2022. All rights reserved.</p>
      <p>Made with &hearts; by Tafadzwa Muteke</p>
    </div>
  </div>
</footer>